# Jupyter Notebook checkpoints
###############################
.ipynb_checkpoints

# Packages #
###################
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip

# latex directory
################
latex

# recipe directory
################
data/recipes

# specific file
#
SF*.png
